system/etc/dts/dts-eagle.lic
system/app/ZNubiaEdge/ZNubiaEdge.apk
system/app/WebViewGoogle/WebViewGoogle.apk
system/app/Chrome/Chrome.apk
system/app/Maps/oat/arm64/Maps.odex
system/priv-app/Velvet/oat/arm64/Velvet.odex
system/priv-app/GmsCore/oat/arm/GmsCore.odex
system/priv-app/GmsCore/oat/arm64/GmsCore.odex
fs_config_dirs
